@keyframes slideInUp {
   from {
      transform: translateY(100px);
      opacity: 0;
   }

   to {
      transform: translateY(0);
      opacity: 1;
   }
}

@keyframes fadeInRight {
   from {
      transform: translateX(100px);
      opacity: 0;
   }

   to {
      transform: translateX(0);
      opacity: 1;
   }
}


@keyframes fadeOutRight {
   from {
      transform: translateX(0);
      opacity: 1;
   }

   to {
      transform: translateX(100px);
      opacity: 0;
   }

}

@keyframes slideOutDown {
   from {
      transform: translateY(0);
      opacity: 1;
   }

   to {
      transform: translateY(100px);
      opacity: 0;
   }
}

@keyframes fade-in {
   from {
      opacity: 0;
      transform: translateY(-20px);
   }

   to {
      opacity: 1;
      transform: translateY(0);
   }
}

@keyframes shake {
   0% {
      transform: translateX(0);
   }

   25% {
      transform: translateX(-5px);
   }

   50% {
      transform: translateX(5px);
   }

   75% {
      transform: translateX(-5px);
   }

   100% {
      transform: translateX(0);
   }
}

.animate-shake {
   animation: shake 0.5s ease-in-out;
}

.fade-in {
   animation: fade-in 0.5s ease-out;
}

.slide-in {
   animation: slideInUp 0.4s ease-out forwards;
}

.slide-out {
   animation: slideOutDown 0.4s ease-in forwards;
}

.fade-in-right {
   animation: fadeInRight 0.2s ease-out forwards;
}

.fade-out-right {
   animation: fadeOutRight 0.2s ease-out forwards;
}

/* Spin Loader */
.loading {
   border: 6px solid #f3f3f3;
   border-top: 6px solid #DC3545;
   /* لون اللودر */
   border-radius: 50%;
   width: 40px;
   height: 40px;
   animation: spin 1s linear infinite;
}

@keyframes spin {
   0% {
      transform: rotate(0deg);
   }

   100% {
      transform: rotate(360deg);
   }
}

/* Square Loader */
.animLoader {
   width: 48px;
   height: 48px;
   display: inline-block;
   position: relative;
}

.animLoader::after,
.animLoader::before {
   content: '';
   width: 48px;
   height: 48px;
   border: 2px solid #FFF;
   position: absolute;
   left: 0;
   top: 0;
   box-sizing: border-box;
   animation: rotation 2s ease-in-out infinite;
}

.animLoader::after {
   border-color: #DC3545;
   animation-delay: 1s;
}

@keyframes rotation {
   0% {
      transform: rotate(0deg);
   }

   100% {
      transform: rotate(360deg);
   }
}

/* Square animaited loader */
.square-loader {
   width: 48px;
   height: 48px;
   margin: auto;
   position: relative;
}

.square-loader:before {
   content: '';
   width: 48px;
   height: 5px;
   background: #DC3545;
   opacity: 0.25;
   position: absolute;
   top: 60px;
   left: 0;
   border-radius: 50%;
   animation: shadow 0.5s linear infinite;
}

.square-loader:after {
   content: '';
   width: 100%;
   height: 100%;
   background: #DC3545;
   animation: bxSpin 0.5s linear infinite;
   position: absolute;
   top: 0;
   left: 0;
   border-radius: 4px;
}

@keyframes bxSpin {
   17% {
      border-bottom-right-radius: 3px;
   }

   25% {
      transform: translateY(9px) rotate(22.5deg);
   }

   50% {
      transform: translateY(18px) scale(1, .9) rotate(45deg);
      border-bottom-right-radius: 40px;
   }

   75% {
      transform: translateY(9px) rotate(67.5deg);
   }

   100% {
      transform: translateY(0) rotate(90deg);
   }
}

@keyframes shadow {

   0%,
   100% {
      transform: scale(1, 1);
   }

   50% {
      transform: scale(1.2, 1);
   }
}